.sd-row__question {
  white-space: normal;
}

/* Страница с результатами */
.sd-completedpage {
  padding: calc(5 * var(--base-unit, 8px)) calc(2 * var(--base-unit, 8px))
}

.sd-completedpage h1,
.sd-completedpage h2,
.sd-completedpage h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Панелька, на которой показываются результаты выполнения задания */
.sd-completedpanel {
  padding: var(--sd-base-padding);
  background-color: white;
  text-align: left;
  font-weight: 400;
  max-width: 600px;
  margin: auto;
}

/* Убираю контейнеры, заготовленные под разные украшательства на завершающей
 * странице */
.sd-completedpage:before {
  all: initial;
}